.modal_form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
}

.modal_inputs {
  display: flex;
}

.send_request {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
