.friends_list {
  display: flex;
  flex-direction: column;
}

.friend {
  display: flex;
  justify-content: space-between;
}

.friends {
  width: 30%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
