.container {
  display: flex;
  height: 100%;
}

.friends_list {
  display: flex;
  flex-direction: column;
}

.chat {
  width: 100%;
  border: 1px solid blue;
  position: relative;
}

form {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.friends {
  width: 30%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
